.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top, .bottom { 
      display: flex;
      margin: 20px;
      padding: 10px;
      -webkit-box-shadoow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }
    .title {
      color: #555;
      font-size: 16px;

    }

    .left {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .right {
      flex: 2;

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        .formInput {
          width: 40%;
          display: flex;
          justify-content: center;
          
          flex-direction: column;

          label {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #7551f8;
            
            .MuiSvgIcon-root {
              color: rgb(209, 200, 77);
              font-size: 25px;
              margin-right: 5px;
            }
          }

          input {
            width: 100%;
            padding: 5px;
            border: none;
            border-bottom: 1px solid gray;
          }
        }
        .buttonInput {
          width: 100%;
          display: flex;
          justify-content: flex-start;

          button {
            width: 90%;
            padding: 10px 15px;
            background-color: transparent;
            border: 1px solid lightgray;
            border-radius: 7px;
            cursor: pointer;
            background-color: #7551f8;
            color: white;
          }
        }
      }
    }
  }
}